@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes border-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-border {
  background-size: 300%;
  animation: border-animation 8s linear infinite;
}